---
layout: layouts/base.njk
---
<div class="section">
  <div class="notice">
    Redirecting to <a href="{{ to }}">{{ to }}</a>…
  </div>
  <script>
    window.location.replace("{{ to }}");
  </script>
  <noscript>
    <p>Please click <a href="{{ to }}">{{ to }}</a>.</p>
  </noscript>
</div>
