---
pagination:
  data: products
  size: 1
  alias: product
permalink: "/products/{{ product.slug }}/index.html"
layout: layouts/product.njk
eleventyComputed:
  title: "{{ product.title }}"
  description: "{{ product.shortDescription or (product.description | excerpt(160)) }}"
---
